@{
  Layout = "_Layout";
}
@{
  int vendorId = @Model["vendor"].Id;
  int orderId = @Model["order"].Id;
}

<div class="well">
  <h1>@Model["order"].Title</h1>
  <ul>
    <li>Ordered by: @Model["vendor"].Name</li>
    <li>Order date: @Model["order"].Date</li>
    <li>Price: $@Model["order"].Price</li>
    <li>Description: @Model["order"].Description</li>
    <li>Invoice status: @Model["order"].Paid</li>
  </ul>

  <div class="well fake-button">
    <center><a href="/vendors/@vendorId/orders/@orderId/edit">EDIT ORDER</a></center>
  </div>

  <form action="/vendors/@vendorId/orders/@orderId/delete" method="post">
    <input id="strOrderId" name="strOrderId" type="hidden" value="@orderId">
    <input id="strVendorId" name="strVendorId" type="hidden" value="@vendorId">
    <button type="submit" class="btn btn-block" id="delete-order">DELETE ORDER</button>
  </form>
</div>